@import "./Themes.css";

.main {
  display: flex;
  flex-direction: wrap;
  height: 91vh;
}

.container-content {
  transform: translateX(0%);
  transition: 1s ease;

  position: relative;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  margin-top: 1em;
  margin-left: 2em;
  margin-right: 2em;
  overflow-y: auto;
}

.container-content.expand {
  transform: translateX(-15%);
  transition: 1s ease;
}

.content-header {
  padding-bottom: 0.2em;
  padding-left: 1em;
  background: var(--header-bgcolor);
  font-size: 2em;
  border-radius: 10px;
  height: 1.7em;
}

.content-header .alerts {
  float: right;
  padding-top: 0.75em;
  padding-right: 2em;
  font-size: 0.5em;
  font-weight: lighter;
}

.content-body {
  margin-top: 1em;
  padding: 2em;
  background: var(--body-bgcolor);
  border-radius: 10px;
  justify-content: center;
  overflow-y: auto;
}

.admin-header {
  background-color: var(--admin-header-bgcolor);
  color: var(--admin-header-color);
  height: 5vh;
}

.org {
  float: left;
  padding: 0.15em;
  padding-left: 1.25em;
  font-size: 1.25em;
  overflow: hidden;
}

.admin-header-content {
  float: right;
  padding: 0.25em;
  padding-right: 1.5em;
}

.admin-header-icon {
  margin: 0.5em;
  cursor: pointer;
}

.admin-header-icon:hover {
  color: brown;
}

.admin-footer {
  background-color: var(--admin-footer-bgcolor);
  color: var(--admin-footer-color);
  height: 4vh;
  text-align: center;
}

.admin-footer a:link {
  text-decoration: none;
  color: var(--admin-footer-color);
}

.admin-footer a:visited {
  text-decoration: none;
  color: var(--admin-footer-color);
}