@import './Themes.css';

.main {
    display: flex;
    flex-direction: wrap;
    height: 100vh;
}

.container-content{
    transform: translateX(0%);
    transition: 1s ease;

    position: relative;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    margin-top: 1em;
    margin-left: 2em;
    margin-right: 2em;
    overflow-y: auto;
}

.container-content.expand {
    transform: translateX(-15%);
    transition: 1s ease;
}

.content-header {
    padding-bottom:0.2em ;
    padding-left: 1em;
    background: var(--header-bgcolor);
    font-size: 2em;
    border-radius: 10px;
}

.content-body {
    margin-top: 1em;
    padding: 2em;
    background: var(--body-bgcolor);
    border-radius: 10px;
    justify-content: center;
    overflow-y: auto;
}