@import "./Themes.css";

.dashboard-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: auto
}

.dashboard-group-title {
    font-size: 1.25em;
    font-weight: bold;
    color: var(--sidebar-hover-bgcolor)
}
.dashboard-items {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-direction:row;
    justify-content:space-around;
    background-color: var(--sidebar-bgcolor);
}

.dashboard-item {
    margin: 1em;
    border-radius: 0.5em;
    background-color: var(--sidebar-bgcolor);
}

.dashboard-item-content {
    text-align: center;
    vertical-align: middle;
    justify-content: center;
    margin: 0.5em;
}

.db-chart {
    height: 15.5em;
    width: 17em;
}

.db-textbox {
    height: 2.5em;
    width: 16em;
    /* font-weight: bold; */
    font-size: 1.1em;
}