@import "./Themes.css";

.list {
  width: 100%;
  max-height: 60vh;
  overflow-y: auto;
}

table {
  border: 0.5px solid var(--border-color);
  width: 100%;
}

th {
  border-bottom: 0.5px solid var(--border-color);
  text-align: center;
  line-height: 2.5em;
}

.left {
  text-align: left;
  padding-left: 0.75em;
}

td {
  text-align: center;
  padding: 0.5em;
}

.action-btn {
  font-size: 0.8em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  border-radius: 100%;
  margin: 0.25em;
  color: var(--color);
}

.my-pagination {
  margin-top: 1em;
  display: flex;
  justify-content: space-between;
}

.pagination-btn:hover {
  cursor: pointer;
}

.list-headers {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1em;
  height: 3.5em;
}

.connection-active {
  background-color: var(--success);
  border-radius: 100%;
  height: 1em;
  aspect-ratio: 1;
  border: none;
}

.connection-inactive {
  background-color: var(--error);
  border-radius: 100%;
  height: 1em;
  aspect-ratio: 1;
  border: none;
}

.status-light {
  margin-top: 0.8em;
  margin-left: 1em;
  width: 1em;
}

.sort-btn {
  font-size: 0.8em;
  margin-left: 0.25em;
  color: var(--sort-btn-color);
}

.sorting-head:hover {
  cursor: pointer;
}

.search-control {
  border-radius: 0.5em;
  text-align: center;
  border-width: 0.05em;
}

.wifi-active {
  color: var(--success);
}

.wifi-inactive {
  color: var(--error);
}

.wifi-null {
  color: grey;
}

.wifi-null:hover {
  cursor: pointer;
}

.red {
  color: var(--error);
}

.green {
  color: var(--success);
}

.yellow {
  color: var(--warning);
}

.disable {
  color: grey;
  cursor: not-allowed;
  pointer-events: none;
}

/* Dropdown Button */
/* .dropbtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
} */

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 50px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 0.5em 0;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: var(--sidebar-hover-bgcolor);
  color: var(--color);
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
/* .dropdown:hover .dropbtn {background-color: #3e8e41;} */
