@import './Themes.css';

.label {
    color: var(--color);
    font-size: small;
    margin-left: .5em;
}

.title {
    line-height: 0%;
}

.required:after{
    content: "*";
    color: red;
}

.form-control, .form-select{
    background: rgba(255, 255, 255, 0.8);
    color: var(--field-color);
}

.row.g-2 {
    justify-content: center;
}

.form-btn {
    width: 5em;
    float: right;
}