@import './Themes.css';

.overlay {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: var(--popup-overlay-bgcolor);
    z-index: 1000;
    border-radius: 0.5em;
}

.popup {
    position: fixed;
    left: 50%;
    top: 25%;
    transform: translate(-50%, -25%);
    background-image: var(--main-bg);
    background-position: center;
    background-size: cover;
    padding: .5em;
    z-index: 1000;
    color: var(--color);
    border-radius: .75em;
    box-shadow: 2px 2px 5px 1px var(--popup-shadow-color-1), 5px 5px 20px 0 var(--popup-shadow-color-1);
    opacity: 0;
    visibility: hidden;
    transition: opacity 500ms ease, visibility 500ms ease;
}

.popup.open {
    visibility: visible;
    opacity: 1;
}

.popup-content {
    padding: .5em;
}

.popup-close-btn {
    float: right;
    border: none;
    background-color: var(--popup-bgcolor);
    color: var(--color);
}

.popup-close-btn:hover {
    color: red;
} 

.popup-header {
    font-weight: bold;
    /* padding-bottom: .1em; */
}

.popup-body {
    padding-top: 1.5em;
    padding-left: .5em;
    padding-right: .5em;
}

.popup-footer {
   float: right;
   margin-bottom: .75em;
   margin-right: 1em;
   padding-top: .5em;
}

.btn-warning.btn-sm {
    width: 5em;
}

.btn-primary.btn-sm {
    width: 5em;
    margin-left: 1em;
}

.hr {
    /* padding: 0; */
    margin-left: 0em;
    margin-right: 0em;
    margin-top: .25em;
    margin-bottom: .25em;
}