@import './Themes.css';

.sidebar-open-btn {
    position: absolute;
    left: 0;
    padding-top: 0.5em;
    padding-left: 0.75em;
    font-size: 1.5em;
}

.sidebar-open-btn.hide {
    visibility: hidden;
}

.sidebar-open-btn:hover {
    cursor: pointer;
    color: var(--sidebar-open-color);
}

.seperator {
    margin: 0;
}

.sidebar {
    flex-shrink: 0;
    width: 250px;
    height: 100%;
    overflow: hidden;
    background-color: var(--sidebar-bgcolor);
    backdrop-filter: blur(10px);
    transform: translateX(0);
    visibility: visible;
    opacity: 1;
    transition: opacity 0.75s linear;
}

.sidebar.close {
    visibility: hidden;
    opacity: 0;
    transform: translateX(-100%);
    width: 30px;

}

.sidebarmenu-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.sidebar .sidebar-menu {
    overflow: auto;
}

.sidebar-close-btn {
    position: absolute;
    right: 0;
    padding-right: 0.75em;
    font-size: 1.1em;
}

.sidebar-close-btn:hover {
    color: var(--sidebar-close-color);
    cursor: pointer;
}
.sidebar-item {
    display: block;
    cursor: pointer;
}

.sidebar-title:hover {
    background-color: var(--sidebar-hover-bgcolor);
}

.sidebar-title {
    padding-left: 1.5em;
    font-size: 1.1em;
}

.sidebar-title span i {
    display: inline-block;
    width: 2em;
}

.sidebar-title .toggle-btn {
    margin-top: 1em;
    font-size: .9em;
    transition: transform 0.3s;
}

.sidebar-item.open > .sidebar-title .toggle-btn {
    transform: rotate(90deg);
}

.toggle-btn {
    float: right;
    margin-right: 1em;
}

.sidebar-item.open > .sidebar-content {
    transition: 0.2s ease;
    height: auto;
}

.sidebar-content {
    background-color: var(--sidebar-bgcolor);
    font-size: .9em;
    height: 0;
    overflow: hidden;
    padding-left: 1em;
}

.sidebar-content, .sidebar-title {
    text-decoration: none;
    color: var(--color);
    width: 100%;
    display: block;
    line-height: 46px;
}

.sidebar-content:hover, .sidebar-title:hover {
    text-decoration: none;
    transition: 0.3s ease;
    color: var(--color);
}

.user-info {
    display: flex;
    flex-wrap: wrap;
    padding-top: 1.25em;
    padding-bottom: 1em;
    padding-left: 1.5em;
    align-items: center;
    height: 7em;
}

.avatar {
    flex: 0 0;
    height: 4.5em;
    border-radius: 100%;
}

.user {
    margin-left: .75em;
    line-height: 0.2em;
}


.bizz-footer {
    display: flex;
    /* float: center; */
    margin-left: 1.75em;
    margin-top: 1em;
    height: 2em;
    border-radius: 7px;
    overflow: hidden;
    opacity: 50%;
}

.bizz-footer:hover {
    cursor: pointer;
}

/* width */
::-webkit-scrollbar {
    width: 8px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgba(150, 200, 250, 1);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(100, 150, 200, 1);
  }

  .active {
    background: var(--sidebar-active-bgcolor);
    color: var(--sidebar-active-color);
    font-style: italic;
  }