/* Light Theme */
:root {
  /* Alerts */
  --success: green;
  --warning: orange;
  --error: red;

  /* Admin Header Footer */
  --admin-header-bgcolor: rgba(50, 150, 200, 1);
  --admin-header-color:white;
  
  --admin-footer-bgcolor: rgba(25, 50, 100, 1);
  --admin-footer-color: white;


  /* text color */
  --color: black;
  --field-color: black;

  --border-color: rgba(0, 0, 0, 0.8);

  /* background colors */
  --header-bgcolor: rgba(100, 150, 200, 0.2);
  --body-bgcolor: rgba(100, 150, 200, 0.1);
  --footer-bgcolor: rgba(100, 150, 200, 0.2);
  --actions-bgcolor: none;

  /* sidebar */
  --sidebar-bgcolor: rgba(100, 150, 200, 0.1);
  --sidebar-hover-bgcolor: rgba(50, 200, 255, 1);
  --sidebar-active-bgcolor: rgba(50, 150, 200, 1);
  --sidebar-active-color: white;
  --sidebar-close-color: red;
  --sidebar-open-color: lightgreen;

  /* background image */
  --gradiant-color-1: rgba(255, 255, 255, 0.1);
  --gradiant-color-2: rgba(255, 255, 255, 0.4);
  --bg-image: url('../../../public/images/bg-light.jpg');

  --main-bg: radial-gradient(var(--gradiant-color-1), var(--gradiant-color-2)),
    var(--bg-image);

  /* fonts */
  --font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

  /* popup */
  --popup-overlay-bgcolor:  rgba(0, 0, 0, 0.1);
  /* --popup-bgcolor: rgba(200, 225, 255, 1); */
  --popup-shadow-color-1: rgba(0, 0, 0, .2);
  --popup-shadow-color-2: rgba(0, 0, 0, .4);
}