@import '../Themes.css';

.list {
  display: flex;
  width: 100%;
  top: 0;
}

table {
  border: 0.5px solid var(--border-color);
  width: 100%;
}

th {
  border-bottom: 0.5px solid var(--border-color);
  text-align: center;
  line-height: 2.5em;
}

td {
  text-align: center;
  padding: 0.5em;
}

.action-btn {
    font-size: .8em;
    padding-left: .5em;
    padding-right: .5em;
    padding-top: .25em;
    padding-bottom: .25em;
    border-radius: 100%;
    background: var(--actions-bgcolor);
    margin: .25em;
    color: black;
}

.my-pagination{
    margin-top: 1em;
}