.label {
    color: rgba(225, 225, 225, 1);
    font-size: small;
}

.title {
    line-height: 0%;
}

.required:after{
    content: "*";
    color: red;
}

.form-control, .form-select{
    background: rgba(255, 255, 255, 0.8);
    color: black;
}

.row.g-2 {
    justify-content: center;
}

.form-btn {
    width: 5em;
    float: right;
}