.container-content{
    transform: translateX(0%);
    transition: 1s ease;

    flex-grow: 1;
    padding: 2em;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.container-content.expand {
    transform: translateX(-15%);
    transition: 1s ease;
}

.content-header {
    background: rgba(255, 255, 255, 0.2);
    font-size: 2em;
}

.content-body {
    display: flexbox;
    margin-top: 1em;
    padding: 1em;
    /* height:100vh; */
    background: rgba(255, 255, 255, 0.1);
    overflow: hidden;
}