* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

html, body {
    height: 100vh;
}

body {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 16px;
    color: white;
}

.main {
    display: flex;
    height: 100vh;
    background: radial-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.4)), url('../src/background.jpg');
    background-position: center;
    background-size: cover;
}